$DarkPrimaryColor: #5D4037;
$PrimaryColor: #795548;
$LightPrimaryColor: #D7CCC8;
$AccentColor: #795548;
$PrimaryTextColor: #212121;
$SecondaryTextColor: #727272;
$DividerColor: #B6B6B6;
$TextColor: #FFFFFF;